<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>489922779691-5dkspcebbqkjlrerglrfkpii38ao32cs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.489922779691-5dkspcebbqkjlrerglrfkpii38ao32cs</string>
	<key>API_KEY</key>
	<string>AIzaSyCij_nc4c2EKdTz79xSi0qWC20Hr-DugyA</string>
	<key>GCM_SENDER_ID</key>
	<string>489922779691</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chargeme</string>
	<key>PROJECT_ID</key>
	<string>chargeme-350716</string>
	<key>STORAGE_BUCKET</key>
	<string>chargeme-350716.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:489922779691:ios:12abfbcafd56d7f396e86e</string>
</dict>
</plist>